.head {
	font-size: 30px;
  text-align: center;
}
.anncs_wrapper {
	display: inline-block;
	border: 2px solid black;
	padding: 3px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 2px;
  text-align: center;
}
a{
	color: #003377;
}
td{
	align: : center;
}
.btn{
	margin: 2px;
}
.btn-del{
	background-color: #FF7F50; 
}
.btn-editor{
	background-color: #D8BFD8; 
}
.date {
	width: 25%;
}
.title {
	width: auto;
	text-align: center;
}
.delete{
  float: right;
  width: 10%;
}
.edit{
  float: right;
  width: 10%;
}
