.container {
  width: 75%; }

.event-wrapper .btn-new {
	background-color: #4F86C6; 
}
.event-wrapper .btn-remove {
	font-size: 14px;
	padding: 6px 12px;
	float: right; 
}

.event-wrapper .description {
	padding: 20px 50px;
	font-size: 16px;
	background-color: #f5f5f5;
	margin: 30px 0;
	color: #4F86C6; 
}
.event-wrapper .description .warning {
	color: #EE7785; 
}

.event-wrapper .table {
	font-size: 16px;
} 
.event-wrapper .table .btn-new {
	background-color: #4F86C6;
	float: none;
	margin-right: 10px; 
}
.event-wrapper .table th,.event-wrapper .table td {
    border-color: #379392; 
}
.event-wrapper .table th {
	padding-left: 30px;
	padding-right: 30px;
	background-color: #379392;
	color: #fff; 
}
.event-wrapper .table td {
	padding: 30px; 
}

.event-wrapper .signup-form {
	margin-top: 50px; 
}
.event-wrapper .signup-form .title{
	text-align: center;
}

.event-wrapper .signup-form .table {
	width: 80%;
	border-left: 1px solid #c089ec;
	border-right: 1px solid #c089ec;
	border-bottom: 1px solid #c089ec;
	margin-left:10%;
	margin-right:10%;
}
.event-wrapper .signup-form .table th {
	background-color: rgb(90, 117, 236);
	text-align:center;
}
.event-wrapper .signup-form .table td {
	background-color: #8dc5f3;
	color: #f5f5f5;
	text-align:center;
}   
.event-wrapper .signup-form .table th, .event-wrapper .signup-form .table td {
	border-color: #f5f5f5; 
	text-align:center;
}
.event-wrapper .signup-form .table_input {
	width: 80%;
	margin-left:10%;
	margin-right:10%;
}
.event-wrapper .signup-form .table_input .input{
	width: 80%;
	margin-left:10%;
	margin-right:10%;
}

.event-wrapper .status-form .table {
	width: 80%;
	border-left: 1px solid #c089ec;
	border-right: 1px solid #c089ec;
	border-bottom: 1px solid #c089ec;
	margin-left:10%;
	margin-right:10%;
}
.event-wrapper .status-form .table th {
	background-color: rgb(90, 117, 236);
	text-align:center;
}
.event-wrapper .status-form .table td {
	background-color: #8dc5f3;
	color: #8e38f0;
	text-align:center;
}   
.event-wrapper .status-form .table th, .event-wrapper .status_form .table td {
	border-color: #f5f5f5; 
	text-align:center;
}

.event-wrapper .add-form .error {
	color: #ff0000;
}
.event-wrapper .add-form input {
	width: 100%;
}
.event-wrapper .add-form table {
	width: 100%;
}
.event-wrapper .add-form textarea {
	width: 100%;
	height:100px;
	resize: none;
}
.event-wrapper .add-form .btn-add {
	color:black;	
}



@media (max-width: 400px) {
	.btn {
	  font-size:11px;
	  padding:2px 3px;
	}
  }
  @media (min-width: 768px) {
	.event-wrapper .btn {
	  font-size:12px;
	  padding:3px 6px;
	}
  }
  @media (min-width: 992px) {
	.event-wrapper .btn {
	  font-size:14px;
	  padding:4px 6px;
	}
  }
  @media (min-width: 1200px) {
	.event-wrapper .btn {
	  font-size:16px;
	  padding:5px 8px;
	}
  }
.event-wrapper .btn-sign {
	background-color:#33FFFF; 
}
.event-wrapper .btn-modify {
	background-color: #B088FF; 
}
.event-wrapper .btn-rm {
	background-color: #FF3333 ; 
}
.event-wrapper .btn-add{
	background-color: #fff; 
}
.event-wrapper .btn-situation{
	background-color: 	#5599FF; 
}
.event-wrapper .btn-cancel{
	background-color: 	rgb(236, 151, 117); 
}