a {
	color: #379392;
}
a.active {
	text-decoration: none;
}

.btn-new {
	color: #fff;
	background-color: #379392;
	float: right;
}

.btn-remove {
	background-color: #EE7785;
	color: #fff;
	font-size: 10px;
	padding: 5px 5px;
}

.container {
	width: 50%;
	padding: 30px 30px;
	margin-top: 60px;
	border: 3px solid #E5E5E5;
	border-top: 3px solid #E5E5E5;
	border-bottom: none;
}

.navbar {
	background-color: #379392;
	padding-top: 25px;
	padding-bottom: 25px;
}
.navbar .navbar-header .navbar-brand {
	color: #fff;
	margin-left: 50px;
	font-size: 26px;
	margin-right: 200px;
}
.navbar .collapse .navbar-nav li a {
	color: #fff;
	font-size: 16px;
}
.navbar .collapse .navbar-nav li.active a {
	color:#fff;
}
.navbar .collapse .navbar-nav li.active a.active {
	color:#00BBFF;
	border-bottom: 1px solid #fff;
}

:root {
	--jumbotron-padding-y: 3rem;
  }
  .container {
	width: 75%; 
  }
  
  .jumbotron 
  {
	padding-top: var(--jumbotron-padding-y);
	padding-bottom: var(--jumbotron-padding-y);
	margin-bottom: 0;
	background-color: #fff;
  }
  @media (min-width: 768px) {
	.jumbotron {
	  padding-top: calc(var(--jumbotron-padding-y) * 2);
	  padding-bottom: calc(var(--jumbotron-padding-y) * 2);
	}
  }
  
  .jumbotron p:last-child {
	margin-bottom: 0;
  }
  
  .jumbotron-heading {
	font-weight: 300;
  }
  
  .jumbotron .container {
	max-width: 40rem;
  }
  
  footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
  }
  
  footer p {
	margin-bottom: .25rem;
  }
  
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  