html {
    height: 100%;
		margin: 0;
		padding: 0;
}
.home{
	border: 2px solid black;
	padding: 6px;
	height: 100%;
}

.content {
	padding: 5px;
	margin: 4px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.game_match {
	width: 100%;
	height: 100%;

}
.anncs_list {
	width: 68%;
}
.head {
	font-size: 30px;
}
.anncs_wrapper {
	display: inline-block;
	border: 1px solid gray;
	padding: 3px;
	padding-left: 25px;
	padding-right: 25px;
	margin: 2px;
}
.date {
	width: 25%;
}
.title {
	width: 70%;
	text-align: left;
}

.game-list {
	padding: 1px;
}
.game{
	border: 2px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: left;
}
.game-wrapper{
	padding: 3px;
  margin: 3px;
  display: inline-block;
}
.sports {
  width: 20%;
  font-size: 30px;
}
.time {
  width: 75%;
}
