.profile-option{
    border: #ccc 1px solid;
    position: absolute;
    z-index: 99;
    /*right: 50px;*/
    /*top: 100%;*/
   min-width: 150px;
   list-style:none;
   padding: 12px 5px;
   background-color: rgb(52,58,64);
}
.profile-option li {
    border-bottom: #ccc 1px solid;
}
.profile-option li:last-child {
    border-bottom: none;
}
.profile-option{ /*隱藏次選單*/
    display: none;
}
.nav li:hover > ul { /* 滑鼠滑入展開次選單*/
    display: block;
}
